body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    .container {
        width: 575px;
        height: 825px;
      
        background-color: #ffffff;
        padding-left: 30px;
        position: absolute;
        top: 50%;
        bottom: 50%;
    
      }
      #weight,#height{
        width: 150px;
        height: 25px;
        margin-top: 30px;
      }
      #weight-guide {
        margin-left: 75px;
        margin-top: 25px;
      }
      
      #results {
        font-size: 35px;
        margin-left: 90px;
        margin-top: 20px;
        color: rgb(214, 115, 115);
      }
      
      button {
        width: 150px;
        height: 35px;
        margin-left: 90px;
        margin-top: 25px;
        background-color: #fff;
        padding: 1px 30px;
        border-radius: 8px;
        color: #212121;
        text-decoration: none;
        border: 2px solid #212121;
      
        font-size: 25px;
      }
      
      h1 {
        padding-left: 15px;
        padding-top: 25px;
        
      }
      
}